.catalog-page__filter
  display: flex
  align-items: center
  gap: 2em

.catalog-page__range-filters-container
  display: flex
  flex-direction: column
  gap: 1em

.catalog-page__filter-title
  font-weight: 500

.catalog-page__select-filters-container
  display: flex
  gap: 1em

.catalog-page__range-filter-container
  display: flex
  flex-direction: column
  gap: 0.5em
  width: 10em
  .catalog-page__filter-title
    font-weight: 500
    margin-bottom: 0.5em
  
.catalog-page__slider-container 
  position: relative
  width: 100%

.catalog-page__range-slider-form
  width: 100%
  height: 3px
  position: absolute
  top: 0
  bottom: 0
  border-radius: 3px

.catalog-page__range-value-container
  display: flex
  justify-content: space-between


.catalog-page__select-filter-container
  display: flex
  flex-direction: column
  gap: 0.5em
  ::-webkit-scrollbar 
    width: 0.4em

.catalog-page__select-form
  display: flex
  flex-direction: column
  gap: 0.2em
  border: solid 1px black
  border-radius: 3px
  padding: 0.3em 0.7em
  height: 4.5em
  overflow-y: scroll

.catalog-page__select-checkbox .input-wrapper
  display: grid
  grid-template-columns: 1em auto
  align-items: center
  gap: 0.5em
  label
    order: 2

  input
    order: 1