.tile__cart-manager
    box-sizing: border-box
    margin-top: 0.5em 
    order: 2
    width: 100%
    display: flex
    border-bottom: solid 0.5px gray
    padding: 0.3em 0.4em
    justify-content: space-between
    align-items: center
    
.tile__color-container
    display: flex
    justify-content: space-around
    gap: 0.35em

.tile__add-to-cart
    cursor: pointer
    margin-left: auto
    width: 3.5em
    height: 3.5em
    background-color: white
    border: solid 0.5px gray
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    &:hover
        animation: buble 400ms ease-in-out

    &:hover .tile__add-to-cart-image 
        filter: invert(35%)
    
    &.disabled
        cursor: default
        pointer-events: none

    &.disabled .tile__add-to-cart-image
        filter: invert(80%)


.tile__add-to-cart .loader
    width: 1.5em
    height: 1.5em


@keyframes buble
    0%
        transform: scale(1)

    50%
        transform: scale(1.1)
  
    100%
        transform: scale(1)

        

.tile__add-to-cart-image
    width: 75%
    height: auto
    transition: all linear 100ms

 

.tile_color-item
    cursor: pointer
    width: 1.5em
    height: 1.5em
    border-radius: 50%
    transition: all linear 100ms
    &.red
        background-color: #eb5151
    &.blue
        background-color: #3e69b8
    &.black
        background-color: #333333
    &.choosen
        transform: scale(1.4)
        &:hover
           transform: scale(1.4) 
    &:hover
        transform: scale(1.1)