@import ../../../app/general
  
.main-page__hero
  position: relative
  box-sizing: border-box
  background-image: url('../../../assets/background_hero.jpeg')
  background-size: 100%
  background-repeat: no-repeat
  background-position: 0 -10rem
  height: 35rem
  border-radius: 3px
  padding: 1.5em 2em
  font-size: 2rem
  color: white
  display: flex
  flex-direction: column
  justify-content: space-between



.main-page__hero-overlay 
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: #1d1d1d4a
  z-index: 1
  

.main-page__about
  width: 50%
  display: flex
  flex-direction: column
  gap: 1.5em
  z-index: 2


.main-page__title 
  font-weight: 400
  font-size: 1.5em
  align-self: flex-start
   
.main-page__text
  font-size: 0.6em
  font-weight: 300
  text-shadow: 0 1px #000000

.main-page__btn-container
  z-index: 2
  width: 9em
  display: flex
  justify-content: space-between


.main-page__auth-button
  font-size: 0.55em
  @include white-button

  
@media screen and (max-width: 1400px)
   .main-page__hero
    background-position: center
    background-size: 100%
    height: 25rem
    font-size: 1.6rem

@media screen and (max-width: 800px)
  .main-page__hero
    padding: 1em 1.5em
    height: 18rem
    font-size: 1.4rem
    background-position: 0 0


  .main-page__about
    width: 70%

@media screen and (max-width: 500px)
  .main-page__hero
    // background-position: 0 -6rem
    background-size: 100%
    height: 14rem


  .main-page__about
    gap: 0.7em
    width: 100%

