@import ../../../app/mixins

.main-page
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

.main-page__hero
  width: 100%
  position: relative
  height: 35rem
  border-radius: 3px
  color: white
  display: flex
  flex-direction: column

.main-page__hero-overlay 
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: #1d1d1d77
  z-index: 1
  
.main-page__video
  position: absolute
  border-radius: 3px
  width: 100%
  height: 100%
  object-fit: cover

.main-page__about
  max-width: 40rem
  height: 70%
  padding: 2em
  display: flex
  flex-direction: column
  justify-content: space-between
  gap: 1.5em
  z-index: 2
  font-size: 1.3rem


.main-page__title 
  font-weight: 400
  font-size: 2em
  align-self: flex-start
   
.main-page__text
  font-weight: 300
  text-shadow: 0 1px #000000

.main-page__catalog-btn
  margin: 2.5em
  z-index: 1
  padding: 0 0.5em
  font-size: 1.1em
  @include white-button

.main-page__promo-cont
  font-size: 0.7em
  position: absolute
  z-index: 2
  margin: 3.5em
  bottom: 0
  right: 0
  display: flex
  gap: 1em

.main-page__promo
  box-sizing: border-box
  width: 92px
  height: 52px
  background-color: #efa801
  padding: 0.5em
  display: flex
  flex-direction: column
  align-items: center
  gap: 0.3em
  mask-image: url('../../../assets/promo-mask.png')
  mask-size: 92px
  cursor: pointer
  transition: all linear 200ms
  &:hover
    background-color: #F7C03F

.main-page__promo > p
  color: #d80327
  font-weight: 700

.main-page__promo-descr
  border: 1px solid white
  font-weight: 500
  padding: 0.3em

.main-page__promo-modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.85)
  z-index: 1000
  display: flex
  justify-content: center
  align-items: center

.main-page__promo-modal > div
  background-color: white
  display: flex
  flex-direction: column
  align-items: center
  color: black
  padding: 1em
  border-radius: 3px
  gap: 1em
  width: 348px
  text-align: center
  box-sizing: border-box

.main-page__promo-modal-btn
  @include black-button
  font-size: 0.84em
  align-self: center
  cursor: pointer
  border: none
  
@media screen and (max-width: 1400px)
   .main-page__about
      font-size: 1.2rem


@media screen and (max-width: 800px)
  .main-page__hero
    height: 25rem

  .main-page__about
    font-size: 1rem


@media screen and (max-width: 500px)
  .main-page__about
    gap: 0.7em

  .main-page__hero
    height: 35rem

  .main-page__promo-cont
    position: relative
    justify-content: center


