.about-page__section
    cursor: default

.about-page__member-container
    width: 15em    
.about-page__title
    font-size: 1.5em
    font-weight: 700
    margin-bottom: 1em
    margin-top: 1em
    text-align: center

.about-page__member-name
    font-weight: 700
    text-align: center

.about-page__member-role
    text-align: center

.about-page__members
    display: flex
    flex-direction: row
    gap: 6em
    margin-bottom: 0.5em
    margin-top: 0.5em

.about-page__git-logo
    background-image: url('../../assets/githLogo.png')
    width: 0.9em
    height: 0.9em
    background-size: 100%
    border-radius: 50%

.about-page__member-github
    cursor: pointer

.about-page__member-image
    height: 15em
    width: 15em
    border-radius: 50%
    &:hover
        transition: transform 1s ease-in-out
        transform: rotate(360deg)
        opacity: 0.85

.about-page__member-bio
    text-align: justify
    font-size: 0.85em
    width: 17.5em
    height: 7em
    color: #302f2f


.about-page__git-container
    display: flex
    flex-direction: row
    align-items: center
    // justify-content: center
    gap: 0.2em
    margin-bottom: 0.5em
   
