// body
//   &:has(.about-page)
//     position: absolute
//     background-image: url('../../assets/vinil.png')
//     background-repeat: no-repeat
//     background-position: center
//     background-attachment: fixed
//     background-size: cover
//     background-position-y: 400px
//     background-position-x: -200px
//     z-index: 0

.about-page
  display: flex
  justify-content: center
  width: 100%
    
.about-page__section
    display: flex
    flex-direction: column
    gap: 2em
    cursor: default
    width: 80%
 
.about-page__title
    font-size: 1.5em
    font-weight: 700
    text-align: center
  
.about-page__members
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 1em

.about-page__member-container
    display: flex
    flex-direction: column
    align-items: center
    gap: 0.8em
    padding: 1em 2em
    border: solid 0.5px black
    border-radius: 3px 
    background-color: #fffffff2
    z-index: 1
    .about-page__member-image
      transition: all linear 200ms
    &:hover .about-page__member-image
      opacity: 0.9
      // animation: rotate 1s ease-in-out
    .gh-link
      align-self: flex-start
      gap: 0.25em
  
@keyframes rotate
  0% 
    transform: rotate(0)
    
  100%
    transform: rotate(360deg)


.about-page__bio-container
  width: 85%
  display: flex
  flex-direction: column
  gap: 0.3em
  align-items: center

.about-page__member-name
  font-size: 1.1em
  font-weight: 650

.about-page__member-image
    margin-top: 1em
    width: 100%
    border-radius: 50%

.about-page__member-bio
    text-align: justify
    color: #302f2f

.about-page__member-contribution
    margin: 0
    display: flex
    flex-direction: column
    gap: 0.5em
    font-size: 0.9em
    padding-left: 0
    & li
      list-style: inside square

.about-page__collaboration-container
    padding: 1em 2em
    border: solid 0.5px black
    border-radius: 3px 
    background-color: #fffffff2
    z-index: 1
    display: flex
    align-items: center
    gap: 2em
    .rs-image
      width: 8em
      transition: all linear 200ms
      &:hover
        transform: scale(1.1)

.about-page__collaboration-wrapper
  display: flex
  flex-direction: column
  align-items: center
  gap: 2em

.about-page__collaboration-items-container
  display: flex
  justify-content: space-around
  gap: 2em
  width: 100%


.about-page__collaboration-item
  width: 20%
  display: flex
  flex-direction: column
  align-items: center

.collaboration-item__image
  margin-top: 1em
  width: 5em


.collaboration-item__text
  margin-top: 0.5em
  text-align: center
  font-size: 0.8em

@media screen and (max-width: 1200px)
  .about-page__section
    width: 90%

@media screen and (max-width: 910px)
  .about-page__title
    font-size: 1.2em

  .about-page__member-name,
  .about-page__member-role,
  .about-page__member-github,
  .about-page__collaboration-container,
  .about-page__collaboration-container,
  .about-page__member-bio
    font-size: 0.9em
  
  .about-page__member-container
    align-items: center
    height: 100%
    width: 13em

  .about-page__member-image
    height: 10em
    width: 10em
    margin: auto
    
  .about-page__member-bio
    width: 100%
    height: 8em 

  .about-page__member-contribution
    font-size: 0.8em
    width: 100%
    padding-right: 0 1em 
    height: 23em

  .about-page__member-container,
  .about-page__collaboration-container
    width: auto

  .about-page__member-container
    min-width: 10em

  .about-page__collaboration-container
    margin-top: 1em


@media screen and (max-width: 800px)
  .about-page__member-container
    width: 10em

  .about-page__member-contribution
    width: 100%

  .about-page__member-bio
    width: 100%
    height: 10.5em  

  .about-page__member-contribution
    padding-right: 0 1em 
    height: 31em


@media screen and (max-width: 660px)
  .about-page__member-container
    width: 100%

  .about-page__members
    flex-direction: column 
    width: 70%
    align-items: center
    margin: auto  

  .about-page__member-bio
    height: auto

  .about-page__git-container,
  .about-page__member-contribution,
  .about-page__collaboration-container
    margin-top: 0.5em

  .about-page__member-contribution
    height: auto


  @media screen and (max-width: 500px)
    .about-page__member-name,
    .about-page__member-role,
    .about-page__member-github,
    .about-page__collaboration-container,
    .about-page__member-bio,
    .about-page__collaboration-container
      font-size: 0.8em 
