
// .about-page__back-img
//     position: absolute
//     background-image: url('../../assets/vinil.png')
//     background-repeat: no-repeat
//     background-position: center
//     background-attachment: fixed
//     background-size: cover
//     width: 100%
//     height: 100%
//     background-position-y: 500px
//     background-position-x: -300px
//     z-index: 0
    
.about-page__section
    cursor: default
    width: 75%
    margin: auto
    height: 100%
    margin-bottom: 0
    position: relative

.about-page__member-container
    width: 15em 
    margin: auto
    margin-top: 0 
    padding: 0.5em
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.225) 
    border-radius: 10px 
    background-color: rgba(255, 255, 255, 0.822)
    z-index: 1
    &:hover
      .about-page__member-image  
        transition: transform 1s ease-in-out
        transform: rotate(360deg)
        opacity: 0.9

.about-page__title
    font-size: 1.5em
    font-weight: 700
    margin-bottom: 0.5em
    margin-top: 0.5em
    text-align: center
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)    

.about-page__member-name
    font-weight: 700
    text-align: center

.about-page__member-role
    text-align: center

.about-page__members
    display: flex
    flex-direction: row
    gap: 1em
    margin-bottom: 0.5em
    margin-top: 0.5em

.about-page__git-logo
    background-image: url('../../assets/githLogo.png')
    width: 0.9em
    height: 0.9em
    background-size: 100%
    border-radius: 50%

.about-page__member-github
    cursor: pointer

.about-page__member-image
    height: 15em
    width: 15em
    border-radius: 50%

.about-page__member-bio
    text-align: justify
    font-size: 0.9em
    width: 16em
    height: 7em
    color: #302f2f

.about-page__git-container
    display: flex
    flex-direction: row
    align-items: center
    gap: 0.2em
    margin-bottom: 0.5em

.about-page__member-contribution
    font-size: 0.85em
    padding-left: 1em
    text-align: justify

.about-page__collaboration-container
    text-align: justify
    padding: 0.5em
    border-radius: 1em
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.225) 
    border-radius: 10px 
    background-color: rgba(255, 255, 255, 0.822)
    position: relative
    z-index: 1

.about-page__school-logo-container
    display: flex
    align-items: flex-end
    justify-content: center
    min-height: 100%
    width: 100%
    margin-top: 0.5em
   
.about-page__school-logo
    height: 2em
    bottom: 0.5em
    cursor: pointer
