@import ../../app/mixins

.catalog-page 
  width: 100%
  display: flex
  flex-direction: column
  gap: 1.5em
  align-items: center
  transition: all linear 200ms


@media screen and (max-width: 800px)
  .catalog-page 
    font-size: 1rem
  
@media screen and (max-width: 500px)
  .catalog-page 
    font-size: 0.9rem
