@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
@import ./mixins

h1, h2, h3, h4, h5, p 
  margin: 0
  padding: 0

input,
select,
button,
textarea
  font-family: inherit
  font-size: 100%
  margin: 0
  // do not change this
  line-height: 1.49

select, 
option,
input[type=submit], 
input[type=date], 
input[type=checkbox]
    cursor: pointer

input, select
    transition: 200ms
    border-radius: 1px
    border: none
    outline: 1px solid black    
    &:disabled
        background-color: #c3c3c341
        cursor: not-allowed
        outline-color: #a4a4a4
        &::placeholder
             color: #aaaaaa

input[type="range"]
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  width: 100%
  outline: none
  position: absolute
  pointer-events: none
  background-color: transparent
  margin: auto
  top: 0
  bottom: 0

  &::-webkit-slider-runnable-track
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    height: 3px

  &::-webkit-slider-thumb
    -webkit-appearance: none
    height: 0.95em
    width: 0.95em
    background-color: #000000
    cursor: pointer
    margin-top: -0.4em
    pointer-events: auto
    border-radius: 50%

  &:active::-webkit-slider-thumb
    background-color: #2d2d2d

input[type="checkbox"]
    -webkit-appearance: none
    appearance: none
    background-color: transparent
    margin: 0
    color: black
    width: 1em
    height: 1em
    border: 1px solid black
    border-radius: 2px
    display: grid
    place-content: center
    &::after
        content: ""
        width: 1em
        height: 1em
        transform: scale(0)
        transition: 120ms transform ease-in-out
        background-color: black
    &:checked::after
        transform: scale(0.65)


::-webkit-scrollbar 
  width: 0.6em


::-webkit-scrollbar-track 
  background: #f0f0f0


::-webkit-scrollbar-thumb 
  background: #c2c2c2
  border-radius: 5px

::-webkit-scrollbar-thumb:hover 
  background: #888888a1


p
  letter-spacing: -0.5px

a 
  text-decoration: none
  color: black

input[type=checkbox]
    outline: none

input[type=submit]
    outline: none
    @include black-button
.input-valide
    outline-color: #21b519 !important

.input-invalide
    outline-color: red !important
    
.form-error
    color: red
    align-self: flex-start
    transition: opacity 200ms linear

  
body 
  font-family: "Montserrat", sans-serif
  font-optical-sizing: auto
  margin: 0 2rem
  padding: 0
  display: flex
  flex-direction: column
  align-items: center


.main-container
  width: 100%
  transition: opacity ease-out 200ms

.loader
  border: 0.2em solid #85858524
  border-top: 0.2em solid #212121
  border-radius: 50%
  width: 2em
  height: 2em
  transition: opacity linear 200ms
  animation: spin 1s linear infinite

@keyframes spin 
  0% 
    transform: rotate(0deg)
  100%  
    transform: rotate(360deg)


@media screen and (max-width: 800px)
  body
     margin: 0 1rem
