@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

@mixin button
  // padding: 0.8em 2.1em
  display: flex
  align-items: center
  justify-content: center
  width: 7em
  height: 2.5em
  border-radius: 2px
  transition: all 200ms linear
  

@mixin white-button
  @include button
  background-color: #ffffff
  color: #000000
  &:hover
    background-color: #cecece


@mixin black-button
  @include button
  background-color: #000000
  color: #ffffff
  &:hover
    background-color: #191919
  


h1, h2, h3, h4, h5, p 
  margin: 0
  padding: 0

input,
select,
button,
textarea
  font-family: inherit
  font-size: 100%
  margin: 0
  // do not change this
  line-height: 1.49

select, 
option,
input[type=submit], 
input[type=date], 
input[type=checkbox]
    cursor: pointer

input, select
    transition: 200ms
    border-radius: 1px
    border: none
    outline: 1px solid black    
    &:disabled
        background-color: #c3c3c341
        cursor: not-allowed
        outline-color: #a4a4a4
        &::placeholder
             color: #aaaaaa

p
  letter-spacing: -0.8px

a 
  text-decoration: none
  color: black

input[type=checkbox]
    outline: none

input[type=submit]
    outline: none
    @include black-button
.input-valide
    outline-color: #21b519 !important

.input-invalide
    outline-color: red !important
    
.form-error
    color: red
    align-self: flex-start
    transition: opacity 200ms linear

  
body 
  font-family: "Montserrat", sans-serif
  font-optical-sizing: auto
  margin: 0 2rem
  padding: 0
  display: flex
  flex-direction: column
  align-items: center


.main-container
  width: 100%
  transition: opacity ease-out 200ms

.loader
  border: 0.2em solid #85858524
  border-top: 0.2em solid #212121
  border-radius: 50%
  width: 2em
  height: 2em
  animation: spin 1s linear infinite

@keyframes spin 
  0% 
    transform: rotate(0deg)
  100%  
    transform: rotate(360deg)


@media screen and (max-width: 800px)
  body
     margin: 0 1rem
