@import ../../../app/general

.login-page-container
  background-image: url('../../../assets/vinil.png')
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin: auto
  height: 100%
  min-height: 700px
  input 
    font-family: "Montserrat", sans-serif
    font-size: 1em
    &:focus-visible
      outline: 1px solid black 

.login-form
  display: flex
  flex-direction: column
  align-items: center
  font-size: 1rem
  background: rgba(255, 255, 255, 0.8)
  padding: 1.5em 1em
  border: solid 1px black
  border-radius: 4px
  width: 100%
  max-width: 400px

.login-page-container__title
  color: #ffffffde
  text-align: center
  cursor: default
  font-size: 1.8em

.login-form .input-wrapper
  position: relative
  display: flex
  gap: 0.6em
  align-items: center

.login-form .input-wrapper label
  white-space: nowrap

.login-form__email-input,
.login-form__password-input
    align-self: flex-start
    display: flex
    flex-direction: column
    width: 100%

.login-form__email-input input,
.login-form__password-input input
  width: 100%

.login-form .form-error 
  height: 27px
  align-self: flex-start
  color: red
  font-size: 0.8em
  padding: 5px 0
  cursor: default
  transition: opacity 200ms

.login-form__toggle-password-btn
  cursor: pointer
  position: absolute
  right: 5px
  font-size: 1.2em

.login-form__buttons-container
  display: flex
  align-items: center
  gap: 10px
  
.login-form__create-account-btn
  @include black-button
  font-size: 1.1em
  
@media screen and (max-width: 800px)
  .login-page-container 
    min-height: 600px

  .login-form
    font-size: 0.9rem
    padding: 1.5em
    max-width: 320px
    transition: padding 0.3s ease, max-width 0.3s ease

  .login-form__email-input,
  .login-form__password-input
    width: 90%


@media screen and (max-width: 500px)
  .login-page-container
    background-size: 115%


  .login-form
    font-size: 0.8rem
    max-width: 290px

  .login-form .form-error
    height: 20px
