.footer 
    background-color: white
    box-sizing: border-box
    margin: auto 0 0 0
    padding: 2em 2em 1em 2em
    width: 100%
    // max-width: 1600px
    border-top: solid 0.5px black
    display: grid
    grid-template-columns: auto 1fr
    grid-template-rows: auto auto
    align-items: center
    gap: 1em
    font-size: 0.8rem

    .rs-link
        align-self: center

    .rs-image
        width: 7em
        height: auto
        transition: all linear 200ms
        &:hover
            transform: scale(1.1)

.footer__links-container
    width: 70%
    display: flex
    justify-content: space-around
    justify-self: center

.footer__section
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 0.3em
    .footer__link,
    .gh-link__text
        color: #8e8e8e
    .gh-link__icon
        filter: invert(60%)

.footer__section-title
    font-weight: 500 
    color: #4d4d4d
    margin-bottom: 0.1em

.footer__copyright-container
    grid-column: 1 / span 2
    justify-self: center
    font-size: 0.85em
    color: #8e8e8e

.footer__copyright
    display: flex
    align-items: center

.footer__copyright-icon
    filter: invert(60%)
    width: auto
    height: 0.6em


@media screen and (max-width: 800px)
    .footer
        gap: 2em

    
    .footer__links-container
        width: 100%


@media screen and (max-width: 600px)
    .footer__links-container
        display: grid
        grid-template-columns: auto auto
        grid-template-rows: auto auto
        gap: 0.5em
     
    .footer .rs-image
        width: 5em
